.page {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.headline {
  text-align: center;
  padding-bottom: 1%;
}
.title {
  font-size: 4rem;
}
h2 {
  text-align: left;
}
.text {
  text-align: justify;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.checkbox {
  padding-bottom: 2%;
}

.slider-container {
  padding: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-slider .MuiSlider-rail {
  background-color: #004b93;
}

.custom-slider .MuiSlider-thumb {
  background-color: #004b93;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profession-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container label {
  margin-right: 20px; /* Optional: Add spacing between labels */
}
.progress {
  float: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5% 5%;
}
.grid-field {
  display: flex;
}
.css-mhc70k-MuiGrid-root {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.left-component {
  /* padding: 5%; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 5px;
}

.right-component {
  /* padding: 5%; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  border-radius: 5px;
}

.answer {
  outline: #202124;
  font: inherit;
  cursor: pointer;
  /* background: none; */
  padding: 5%;
  text-align: left !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5%;
  text-align: justify;
  height: 25rem;
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  display: inline-flex;
  line-height: 1.25;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  /* width: auto; */
  width: 100%;
  height: auto;
}

.answer:hover {
  background-color: rgba(69, 173, 191, 0.25);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.blue {
  color: white;
  background-color: #004b93;
}
.left {
  float: left;
  background-color: #f8f9fa;
  color: #3c4043;
}
.right {
  float: right;
  background-color: #004b93;
  color: white;
}

.button {
  /* background-color: #f8f9fa; */
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
  /* color: #3c4043; */
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  margin: 0 auto;
  display: block;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #4285f4;
}

.button:focus {
  border-color: #4285f4;
  outline: none;
}

.table .MuiTableCell-root {
  font-size: inherit;
  font: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;}

.tablehead .MuiTableCell-root {
  font-weight: bold;
  text-align: center;
  background-color: #dadce0;
}


.footer {
  padding-top: 5%;
  margin-top: auto;
}